<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.projectmanage.mapper.ProjectLiuChengTuDataLogMapper">
    
    <resultMap type="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuDataLog" id="tempMap">
    	<id     property="id"      column="id"      />
        <result property="projectBaseId"    column="project_base_id"    />
        <result property="projectLiuChengTuTemplateId"     column="project_liu_cheng_tu_template_id"     />
        <result property="currentCellsJsonStr"    column="current_cells_json_str"    />
        <result property="lastCellsJsonStr"    column="last_cells_json_str"    />
        <result property="operateUserId"   column="operate_user_id"   />
        <result property="operateTime"   column="operate_time"   />
    </resultMap>

    <select id="selectProjectLiuChengTuDataLogCount" parameterType="com.ruoyi.project.projectmanage.domain.queryandresponse.QueryProjectLiuChengTuDataLogParam" resultType="int">
        SELECT count(1) from project_liu_cheng_tu_data_log
        <where>
            1=1
            <if test="projectBaseId != null and  projectBaseId !=''">
                and project_base_id =#{projectBaseId}
            </if>

            <if test="projectLiuChengTuTemplateId != null and  projectLiuChengTuTemplateId !=''">
                and project_liu_cheng_tu_template_id =#{projectLiuChengTuTemplateId}
            </if>
        </where>
    </select>

    <select id="selectProjectLiuChengTuDataLogList" parameterType="com.ruoyi.project.projectmanage.domain.queryandresponse.QueryProjectLiuChengTuDataLogParam" resultMap="tempMap">
        SELECT * from project_liu_cheng_tu_data_log
        <where>
            1=1
            <if test="projectBaseId != null and  projectBaseId !=''">
                and project_base_id =#{projectBaseId}
            </if>

            <if test="projectLiuChengTuTemplateId != null and  projectLiuChengTuTemplateId !=''">
                and project_liu_cheng_tu_template_id =#{projectLiuChengTuTemplateId}
            </if>
        </where>
        order by  id asc
        limit #{ pageSize}  offset  #{startIndex}
    </select>

    <select id="selectProjectLiuChengTuDataLogById" parameterType="long" resultMap="tempMap">
        SELECT * from project_liu_cheng_tu_data_log where id ={id}
    </select>

    <select id="selectProjectLiuChengTuDataLogListByIdList" parameterType="list" resultMap="tempMap">

        SELECT * from project_liu_cheng_tu_data_log
        <where>
            1=1
            <if test="idList != null and  idList.size()>0">
                and  id in
                <foreach collection="idList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit 1000
    </select>

    <insert id="insertProjectLiuChengTuDataLog" parameterType="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuDataLog" useGeneratedKeys="true" keyProperty="id">
        insert into project_liu_cheng_tu_data_log(
        project_base_id, current_cells_json_str, last_cells_json_str,
        operate_user_id, operate_time, project_liu_cheng_tu_template_id)
        VALUES
        (#{projectBaseId},#{currentCellsJsonStr},#{lastCellsJsonStr},
         #{operateUserId}, now(), #{projectLiuChengTuTemplateId})
    </insert>

    <update id="updateProjectLiuChengTuDataLog" parameterType="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuDataLog">
        update project_liu_cheng_tu_data_log set
        project_liu_cheng_tu_template_id=#{projectLiuChengTuTemplateId},
        project_base_id=#{projectBaseId},
        operate_user_id=#{operateUserId},
        operate_time=now()
        where id=#{id}
    </update>
</mapper>