<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.projectmanage.mapper.ProjectLiuChengTuNodeMapper">
    
 <!--   <resultMap type="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuNode" id="tempMap">
    	<id     property="id"      column="id"      />
        <result property="projectBaseId"    column="project_base_id"    />
        <result property="userId"     column="user_id"     />
        <result property="createTime"   column="create_time"   />
        <result property="createUserId"    column="create_user_id"    />
        <result property="updateUserId"      column="update_user_id"      />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>-->

    <insert id="insertProjectLiuChengTuNodeList" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into project_liu_cheng_tu_node (
        project_base_id, graph_node_id, data_json_str,
        update_time, update_user_id,status )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.projectBaseId},#{item.graphNodeId},#{item.dataJsonStr},
             now(), #{item.updateUserId},#{item.status})
        </foreach>
    </insert>

    <delete id="deleteProjectLiuChengTuNodeByProjectBaseId" parameterType="long">
        delete from project_liu_cheng_tu_node where project_base_id=#{projectBaseId}
    </delete>

</mapper>