<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.projectmanage.mapper.ProjectLiuChengTuNodeMapper">

    <resultMap type="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuNode" id="simpleTempMap">
        <id     property="id"      column="id"      />
        <result property="projectBaseId"    column="project_base_id"    />
        <result property="status"     column="status"     />
        <result property="taskName"    column="task_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="startTime"   column="start_time"   />
        <result property="expectedEndTime"      column="expected_end_time"      />
    </resultMap>

    <insert id="insertProjectLiuChengTuNodeList" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into project_liu_cheng_tu_node (
        project_base_id, graph_node_id, data_json_str,
        update_time, update_user_id,status,task_name,start_time,expected_end_time,origin_file_name_list_str,cur_file_path_and_name_list_str )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.projectBaseId},#{item.graphNodeId},#{item.dataJsonStr},
             now(), #{item.updateUserId},#{item.status},#{item.taskName},#{item.startTime},#{item.expectedEndTime}
            ,#{item.originFileNameListStr},#{item.curFilePathAndNameListStr}
            )
        </foreach>
    </insert>

    <delete id="deleteProjectLiuChengTuNodeByProjectBaseId" parameterType="long">
        delete from project_liu_cheng_tu_node where project_base_id=#{projectBaseId}
    </delete>

    <select id="selectSimpleProjectLiuChengTuNodeListByProjectBaseIdList" parameterType="list" resultMap="simpleTempMap">
        SELECT id,project_base_id, update_time,status,task_name, expected_end_time  from project_base
        <where>
            delete_flag=0
            <if test="list != null and  list.size()>0">
                and  project_base_id in
                <foreach collection="list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>