<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.projectmanage.mapper.ProjectLiuChengTuTemplateMapper">
    
    <resultMap type="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuTemplate" id="tempMap">
    	<id     property="id"      column="id"      />
        <result property="templateName"    column="template_name"    />
        <result property="currentLiuChengTuDataLogId"     column="current_liu_cheng_tu_data_log_id"     />
        <result property="createUserId"   column="create_user_id"   />
        <result property="createTime"   column="create_time"   />
        <result property="remark"    column="remark"    />
        <result property="updateUserId"      column="update_user_id"      />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <select id="selectProjectLiuChengTuTemplateCount" parameterType="com.ruoyi.project.projectmanage.domain.queryandresponse.QueryProjectLiuChengTuTemplateParam" resultType="int">
        SELECT count(1) from project_liu_cheng_tu_template
        <where>
            delete_flag=0
            <if test="templateName != null and  templateName !=''">
                and template_name like CONCAT('%',#{templateName},'%')
            </if>
        </where>
    </select>

    <select id="selectProjectLiuChengTuTemplateList" parameterType="com.ruoyi.project.projectmanage.domain.queryandresponse.QueryProjectLiuChengTuTemplateParam" resultMap="tempMap">
        SELECT * from project_liu_cheng_tu_template
        <where>
            delete_flag=0
            <if test="templateName != null and  templateName !=''">
                and template_name like CONCAT('%',#{templateName},'%')
            </if>
        </where>
        order by  id asc
        limit #{ pageSize}  offset  #{startIndex}
    </select>

    <insert id="insertProjectTemplate" parameterType="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into project_liu_cheng_tu_template(
        current_liu_cheng_tu_data_log_id, create_user_id, create_time,
        update_user_id, update_time, template_name, remark)
        VALUES
        (#{currentLiuChengTuDataLogId},#{createUserId},now(),
         #{updateUserId}, now(),#{templateName},#{remark})
    </insert>

    <update id="updateProjectTemplate" parameterType="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuTemplate">
        update project_liu_cheng_tu_template set current_liu_cheng_tu_data_log_id=#{currentLiuChengTuDataLogId},
        update_user_id=#{updateUserId},
        update_time=now()
        where id=#{id}
    </update>

    <update id="deleteProjectTemplate" parameterType="com.ruoyi.project.projectmanage.domain.ProjectLiuChengTuTemplate">
        update project_liu_cheng_tu_template set
        delete_flag=1,
        update_user_id=#{updateUserId},
        update_time=now()
        where id=#{id}
    </update>

</mapper>