<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.projectmanage.mapper.ProjectLiuChengTuNodeMapper">

    <insert id="insertProjectLiuChengTuNodeList" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into project_liu_cheng_tu_node (
        project_base_id, graph_node_id, data_json_str,
        update_time, update_user_id,status,task_name,start_time,expected_end_time,origin_file_name_list_str,cur_file_path_and_name_list_str )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.projectBaseId},#{item.graphNodeId},#{item.dataJsonStr},
             now(), #{item.updateUserId},#{item.status},#{item.taskName},#{item.startTime},#{item.expectedEndTime}
            ,#{item.originFileNameListStr},#{item.curFilePathAndNameListStr}
            )
        </foreach>
    </insert>

    <delete id="deleteProjectLiuChengTuNodeByProjectBaseId" parameterType="long">
        delete from project_liu_cheng_tu_node where project_base_id=#{projectBaseId}
    </delete>

</mapper>